<servers>

<server>

     <id>github</id>

     <username>devopshint</username>

     <password>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</password>

     </server>

</servers>

<profiles>

 <profile>

      <id>github</id>

      <repositories>

        <repository>

          <id>central</id>

          <url>https://repo1.maven.org/maven2</url>

  <releases><enabled>true</enabled></releases>

          <snapshots><enabled>true</enabled></snapshots>

        </repository>

        <repository>

          <id>github</id>

          <url>https://maven.pkg.github.com/devopshint/maven-project></url>

          <snapshots>

            <enabled>true</enabled>

          </snapshots>

        </repository>

      </repositories>

    </profile>

</profiles>
